<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Box icons -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
    />
    <!-- Custom StyleSheet -->
    <link rel="stylesheet" href="./css/styles.css" />
    <title>Gn Properties | Contact</title>
  </head>
  <body>
    <!-- Navigation -->
    <div class="navigation">
        <div class="nav-center container d-flex">
        <a href="/" class="logo"><h1>GnProperties</h1></a>

          <ul class="nav-list d-flex">
            <li class="nav-item">
              <a href="/" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
              <a href="product.html" class="nav-link">Properties</a>
            </li>
            <li class="nav-item">
              <a href="./about.html" class="nav-link">About</a>
            </li>
            <li class="nav-item">
              <a href="./contact.html" class="nav-link">Contact</a>
            </li>
            <li class="icons d-flex">
            <a href="login.html" class="icon">
              <i class="bx bx-user"></i>
            </a>
          </li>
          </ul>

          <div class="icons d-flex">
            <a href="login.html" class="icon">
              <i class="bx bx-user"></i>
            </a>
          </div>

          <div class="hamburger">
            <i class="bx bx-menu-alt-left"></i>
          </div>
        </div>
      </div>


    <section class="section new-arrival">
      <div class="title">
        <h1>Meet our Team</h1>
        <p>Find the new houses that have been added</p>
      </div>

      <div class="product-center">

        <div class="product-item">
          <div class="overlay">
            <a href="#" class="product-thumb">
              <img src="./images/team.jpg" alt="" />
            </a>
          </div>
          <div class="product-info">
            <h2 href="productDetails.html">Glenn Minanga</h2>
            <span>House Type(for rent or for sell)</span>
            <h4>PDG And Co-Founder</h4>
          </div>
          <ul class="icons">
            <li><i class='bx bxl-facebook-square'></i></li>
            <li><i class='bx bxl-instagram-alt'></i></li>
            <li><i class='bx bxl-twitter'></i></li>
          </ul>
        </div>

        <div class="product-item">
          <div class="overlay">
            <a href="#" class="product-thumb">
              <img src="./images/team.jpg" alt="" />
            </a>
          </div>
          <div class="product-info">
            <a href="productDetails.html">House Address and details</a>
            <span>House Type(for rent or for sell)</span>
            <h4>House price : $700</h4>
          </div>
          <ul class="icons">
            <li><i class='bx bxl-facebook-square'></i></li>
            <li><i class='bx bxl-instagram-alt'></i></li>
            <li><i class='bx bxl-twitter'></i></li>
          </ul>
        </div>

        <div class="product-item">
          <div class="overlay">
            <a href="#" class="product-thumb">
              <img src="./images/team.jpg" alt="" />
            </a>
          </div>
          <div class="product-info">
            <a href="productDetails.html">House Address and details</a>
            <span>House Type(for rent or for sell)</span>
            <h4>House price : $700</h4>
          </div>
          <ul class="icons">
            <li><i class='bx bxl-facebook-square'></i></li>
            <li><i class='bx bxl-instagram-alt'></i></li>
            <li><i class='bx bxl-twitter'></i></li>
          </ul>
        </div>


        <div class="product-item">
          <div class="overlay">
            <a href="#" class="product-thumb">
              <img src="./images/team.jpg" alt="" />
            </a>
          </div>
          <div class="product-info">
            <a href="productDetails.html">House Address and details</a>
            <span>House Type(for rent or for sell)</span>
            <h4>House price : $700</h4>
          </div>
          <ul class="icons">
            <li><i class='bx bxl-facebook-square'></i></li>
            <li><i class='bx bxl-instagram-alt'></i></li>
            <li><i class='bx bxl-twitter'></i></li>
          </ul>
      </div>
    </section>

    <!-- Footer -->
    <footer class="footer">
      <div class="row">
        <div class="col d-flex">
          <h4>INFORMATION</h4>
          <a href="about.html">About us</a>
          <a href="contact.html">Contact Us</a>
          <a href="index.html">Home</a>
          <a href="product.html">Products</a>
        </div>
        <div class="col d-flex">
          <span><i class='bx bxl-facebook-square'></i></span>
          <span><i class='bx bxl-instagram-alt' ></i></span>
          <span><i class='bx bxl-github' ></i></span>
          <span><i class='bx bxl-twitter' ></i></span>
          <span><i class='bx bxl-pinterest' ></i></span>
        </div>
      </div>
    </footer>



    <!-- Custom Script -->
    <script src="./js/index.js"></script>
    <script src="./js/slider.js"></script>

  </body>
</html>
