<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
    <!-- Boxicons -->
    <link
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
      rel="stylesheet"
    />
    <!-- Glide js -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/css/glide.core.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/css/glide.theme.css">
    <!-- Custom StyleSheet -->
    <link rel="stylesheet" href="./css/styles.css" />
    <title>Gn Properties</title>
  </head>
  <body>
    <!-- Header -->
    <header class="header" id="header">
      <div class="navigation">
        <div class="nav-center container d-flex">
        <a href="/" class="logo"><h1><i class="bx bx-home"></i> GnProperties</h1></a>

          <ul class="nav-list d-flex">
            <li class="nav-item">
              <a href="/" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
              <a href="product.html" class="nav-link">Properties</a>
            </li>
            <li class="nav-item">
              <a href="./about.html" class="nav-link">About</a>
            </li>
            <li class="nav-item">
              <a href="./contact.html" class="nav-link">Contact</a>
            </li>
            <li class="icons d-flex">
            <a href="login.html" class="icon">
              <i class="bx bx-user"></i>
            </a>
          </li>
          </ul>

          <div class="icons d-flex">
            <a href="login.html" class="icon">
              <i class="bx bx-user"></i>
            </a>
          </div>

          <div class="hamburger">
            <i class="bx bx-menu-alt-left"></i>
          </div>
        </div>
      </div>

    <div class="hero">
      <div class="glide" id="glide_1">
        <div class="glide__track" data-glide-el="track">
          <ul class="glide__slides">
            <li class="glide__slide">
              <div class="center">
                <div class="left">
                  <span class="">La revolution de l'immobilier</span>
                  <h1 class="">Gn Properties</h1>
                  <p>Find Your next Perfect Place to Live.</p>
                  <a href="./signup.html" class="hero-btn">Sign In now</a>
                </div>
                <div class="right">
                    <img class="img1" src="./images/hero-1.png" alt="">
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    </header>

    <!-- Categories Section -->
    <section class="section category">
      <div class="cat-center">
        <div class="cat">
          <img src="./images/home.jpg" alt="" />
          <div>
            <p>For sell</p>
          </div>
        </div>
        
        <div class="cat">
          <img src="./images/home.jpg" alt="" />
          <div>
            <p>For rent</p>
          </div>
        </div>
      </div>
    </section>

    <!-- New Arrivals -->
    <section class="section new-arrival">
      <div class="title">
        <h1>NEW HOUSES ADD-ONS</h1>
        <p>Find the new houses that have been added</p>
      </div>

      <div class="product-center">

        <div class="product-item">
          <div class="overlay">
            <a href="#" class="product-thumb">
              <img src="./images/home.jpg" alt="" />
            </a>
          </div>
          <div class="product-info">
            <a href="productDetails.html">House Address and details</a>
            <span>House Type(for rent or for sell)</span>
            <h4>House price : $700</h4>
          </div>
          <ul class="icons">
            <a href="./productDetails.html" class="hero-btn">More...</a>
          </ul>
        </div>

        <div class="product-item">
          <div class="overlay">
            <a href="#" class="product-thumb">
              <img src="./images/home.jpg" alt="" />
            </a>
          </div>
          <div class="product-info">
            <a href="productDetails.html">House Address and details</a>
            <span>House Type(for rent or for sell)</span>
            <h4>House price : $700</h4>
          </div>
          <ul class="icons">
            <a href="./productDetails.html" class="hero-btn">More...</a>
          </ul>
        </div>

        <div class="product-item">
          <div class="overlay">
            <a href="#" class="product-thumb">
              <img src="./images/home.jpg" alt="" />
            </a>
          </div>
          <div class="product-info">
            <a href="productDetails.html">House Address and details</a>
            <span>House Type(for rent or for sell)</span>
            <h4>House price : $700</h4>
          </div>
          <ul class="icons">
            <a href="./productDetails.html" class="hero-btn">More...</a>
          </ul>
        </div>


        <div class="product-item">
          <div class="overlay">
            <a href="#" class="product-thumb">
              <img src="./images/home.jpg" alt="" />
            </a>
          </div>
          <div class="product-info">
            <a href="productDetails.html">House Address and details</a>
            <span>House Type(for rent or for sell)</span>
            <h4>House price : $700</h4>
          </div>
          <ul class="icons">
            <a href="./productDetails.html" class="hero-btn">More...</a>
          </ul>
        </div>


        <div class="product-item">
          <div class="overlay">
            <a href="#" class="product-thumb">
              <img src="./images/home.jpg" alt="" />
            </a>
          </div>
          <div class="product-info">
            <a href="productDetails.html">House Address and details</a>
            <span>House Type(for rent or for sell)</span>
            <h4>House price : $700</h4>
          </div>
          <ul class="icons">
            <a href="./productDetails.html" class="hero-btn">More...</a>
          </ul>
        </div>


        <div class="product-item">
          <div class="overlay">
            <a href="#" class="product-thumb">
              <img src="./images/home.jpg" alt="" />
            </a>
          </div>
          <div class="product-info">
            <a href="productDetails.html">House Address and details</a>
            <span>House Type(for rent or for sell)</span>
            <h4>House price : $700</h4>
          </div>
          <ul class="icons">
            <a href="./productDetails.html" class="hero-btn">More...</a>
          </ul>
        </div>

        <div class="product-item">
          <div class="overlay">
            <a href="#" class="product-thumb">
              <img src="./images/home.jpg" alt="" />
            </a>
          </div>
          <div class="product-info">
            <a href="productDetails.html">House Address and details</a>
            <span>House Type(for rent or for sell)</span>
            <h4>House price : $700</h4>
          </div>
          <ul class="icons">
            <a href="./productDetails.html" class="hero-btn">More...</a>
          </ul>
        </div>

        <div class="product-item">
          <div class="overlay">
            <a href="#" class="product-thumb">
              <img src="./images/home.jpg" alt="" />
            </a>
          </div>
          <div class="product-info">
            <a href="productDetails.html">House Address and details</a>
            <span>House Type(for rent or for sell)</span>
            <h4>House price : $700</h4>
          </div>
          <ul class="icons">
            <a href="./productDetails.html" class="hero-btn">More...</a>
          </ul>
        </div>
      </div>
    </section>


    <!-- Promo -->

    <!-- <section class="section banner">
      <div class="left">
        <span class="trend">A propos de nous</span>
        <h1>Glenn properties</h1>
        <p>Est une entreprise specialiser dans la location et la vente des maison</p>
        <a href="#" class="btn btn-1">Discover Now</a>
      </div>
      <div cla
      ss="right">
        <img src="./images/home.jpg" alt="">
      </div>
    </section> -->




    <!-- Featured -->
  
    <section class="section new-arrival">
      <div class="title">
        <h1>Promotion</h1>
        <p>All the latest picked from designer of our store</p>
      </div>

      <div class="product-center">

        <div class="product-item">
          <div class="overlay">
            <a href="#" class="product-thumb">
              <img src="./images/home.jpg" alt="" />
            </a>
          </div>
          <div class="product-info">
            <a href="productDetails.html">House Address and details</a>
            <span>House Type(for rent or for sell)</span>
            <h4>House price : $700</h4>
          </div>
          <ul class="icons">
            <a href="./productDetails.html" class="hero-btn">More...</a>
          </ul>
        </div>

        <div class="product-item">
          <div class="overlay">
            <a href="#" class="product-thumb">
              <img src="./images/home.jpg" alt="" />
            </a>
          </div>
          <div class="product-info">
            <a href="productDetails.html">House Address and details</a>
            <span>House Type(for rent or for sell)</span>
            <h4>House price : $700</h4>
          </div>
          <ul class="icons">
            <a href="./productDetails.html" class="hero-btn">More...</a>
          </ul>
        </div>


        <div class="product-item">
          <div class="overlay">
            <a href="#" class="product-thumb">
              <img src="./images/home.jpg" alt="" />
            </a>
          </div>
          <div class="product-info">
            <a href="productDetails.html">House Address and details</a>
            <span>House Type(for rent or for sell)</span>
            <h4>House price : $700</h4>
          </div>
          <ul class="icons">
            <a href="./productDetails.html" class="hero-btn">More...</a>
          </ul>
        </div>


        <div class="product-item">
          <div class="overlay">
            <a href="#" class="product-thumb">
              <img src="./images/home.jpg" alt="" />
            </a>
          </div>
          <div class="product-info">
            <a href="productDetails.html">House Address and details</a>
            <span>House Type(for rent or for sell)</span>
            <h4>House price : $700</h4>
          </div>
          <ul class="icons">
            <a href="./productDetails.html" class="hero-btn">More...</a>
          </ul>
        </div>

    </section>

    <!-- Contact -->
    <section class="section contact">
      <div class="row">
        <div class="col">
          <h2>EXCELLENT SUPPORT</h2>
          <p>We love our customers and they can reach us any time
          of day we will be at your service 24/7</p>
          <a href="" class="btn btn-1">Contact</a>
        </div>
        <div class="col">
          <form action="">
            <div>
              <input type="email" placeholder="Email Address">
            </div> <br>
            <div>
              <input type="email" placeholder="Subject">
            </div><br>
            <div>
              <!-- <input type="email" placeholder="Message"> -->
              <textarea placeholder="Message" expanded="false"></textarea>
            </div><br>
            <div>
              <input type="submit" value="Send" class="sentMessage">
            </div>
          </form>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="footer">
      <div class="row">
        <div class="col d-flex">
          <h4>INFORMATION</h4>
          <a href="about.html">About us</a>
          <a href="contact.html">Contact Us</a>
          <a href="index.html">Home</a>
          <a href="product.html">Products</a>
        </div>
        <div class="col d-flex">
          <span><i class='bx bxl-facebook-square'></i></span>
          <span><i class='bx bxl-instagram-alt' ></i></span>
          <span><i class='bx bxl-github' ></i></span>
          <span><i class='bx bxl-twitter' ></i></span>
          <span><i class='bx bxl-pinterest' ></i></span>
        </div>
      </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/glide.min.js"></script>
    <script src="./js/slider.js"></script>
    <script src="./js/index.js"></script>
</body>
</html>
